<h1>Этапы работы</h1>
<ol>
  <li>
    7 апреля - был реализован компонентный стор, все запросы на сервер
    fakestoreapi.com, вывод товаров на страницу,
  </li>
  <li>
    9 апреля - была реализована реативная форма для создания товара, модальные
    окна, кастомные валидатор и ControlValueAccessor + прописала стили
  </li>
  <li>
    10 апреля - была создана форма редактирования (2 часа: взяла просто форму
    для создания - если туда приходит объект, то форма создания превращается в
    форму редактирования) + мелкие правки по модалкам
  </li>
</ol>
